/* Reset some default styles for the page */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Use a preferred font */
}

/* Style the header */
h1 {
  background-color: rgba(1, 33, 105, 0.12);
  color: rgba(1, 33, 105, 0.12);
  text-align: center;
  padding: 10px 0;
  font-style: italic;
}
.blue {
  color: rgba(23, 80, 157);
}

.yellow {
  color: rgba(232, 167, 19);
}
.switch {
    position: relative;
    display: inline-block;
    width: 500px;
    height: 34px;
}

.switch label span.text {
    position: absolute;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 34px; /* Same as the height of the slider */
    z-index: 2;
}

.switch label span.text:first-child {
    left: 0;
    color: #999999;
}

.switch label span.text:last-child {
    right: 0;
    color: #465739; /* White text color */
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    z-index: 1;
}

input:checked + .slider {
    background-color: rgba(23, 80, 157);
}

input:checked + .slider:before {
    transform: translateX(95%);
}
/* Center-align the main content */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Style the buttons container */
.button-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Style the form and task list containers */
form {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="button"] {
  background-color: #5bc0de;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Style the task list */
ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

button[type="button"] {
  background-color: #d9534f;
}

/* Hide the "Remove" button when not hovering over a task item */
li:not(:hover) button[type="button"] {
  display: none;
}

/* Style the hidden class */
.hidden {
  display: none;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
  .button-container {
      flex-direction: column;
      align-items: center;
  }
}
