/* Reset some default styles for the page */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Use a preferred font */
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; 
  background-color: rgba(1, 33, 105, 0.12);
  font-family: Arial, sans-serif !important;
  font-weight: bold !important;
  margin: 0;
  line-height: 1.2; 
}
.nav {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}
.task-details {
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  display: none;
}

.task-details.show {
  max-height: 100px; /* Adjust based on your content */
  opacity: 1;
  display: block !important;
}


.angled-container {
  display: flex;
}
h1, .user-location {
  display: inline;
}
.navbar.navbar-default {
    background-color: #99ccff;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.logo-container {
  display: flex;
  align-items: center;
}
.nav-container2{
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
/* Aligns the nav items to the right */
}
.separator, .location-icon, .user-location {
  margin: 0 5px;  /* Adjust as needed for spacing */
  display: inline;
}
#taskUl {
  height: 625px; /* Set to a height that fits three tasks comfortably */
  overflow-y: auto; /* Will allow scrolling if there are more tasks than can fit */
}
.location-icon i {
  font-size: 1rem;  /* Adjust as needed for icon size */
}
.centered-nav-container {
  width: 100%;
  text-align: center;
}

.nav-container2 {
  display: inline-block;
}
.navbar.logo-container {
  display: flex;
  align-items: center; /* To vertically align the logo and location */
}
.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.user-location {
  font-size: 16px;
  color: #333;
}
.nav-container1 {
  border: 1px solid #0844c7; /* Change #000 to any color you desire for the outline */
  display: inline-block;
  padding: 2px;
  border-radius: 5px; /* optional, for rounded corners */
}
#greeting {
  padding-left: 10px;  /* Add padding to the left side */
  padding-right: 10px; /* Add padding to the right side */
}
.nav-link.active {
  background-color: #ff5733; /* Example: Orange background for active */
  color: #fff; /* White text for active */
}

/* Optional: You might want to add some margin to the nav items for spacing */
.nav-item {
  margin-right: 5px;
}

/* Ensure the last item doesn't have extra margin */
.nav-item:last-child {
  margin-right: 0;
}

#my-nav{
  border : none !important;
  font-weight: lighter !important;
  }
  #my-nav1{
    background-color: #99ccff;
    }
  #paginationControls {
    display: flex;
    justify-content: center;
    gap: 10px; /* optional: to give a little space between buttons */
    margin-right: 45px;
}
.form-section,
.map-section {
  flex: 1; /* Both sections take up equal width */
  padding: 15px; /* Some padding for spacing */
}

#map {
  height: 100%; /* Ensure map takes full height */
}
.nav-item, .nav-link {
  margin: 0;
  padding: 0;
}
#floating-panel {
  position: absolute;
  top: 30px;
  left: 70%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}
.inline-form-element {
    display: inline-block;
    margin-right: 10px; /* or any desired space between the elements */
}
/* Style the header */
.nav-link {
  border: none !important;
}
h1 {
    flex: 1;
  color: rgba(1, 33, 105, 0.12);
  margin: 0 0 0px;
  line-height: 1.2; 
  text-align: left;
  padding: 20px;
  padding-top: 23px; 
  font-style: italic;

    font-family: Arial, sans-serif !important;
  font-weight: bold !important;

}
h2 {
    flex: 1;
  color: rgba(0, 0, 0, 0.82);

  text-align: left;
  padding: 10px;
  margin-left: 20px;
  font-style: bold;
}

.bg-light-blue {
  background-color: #e0e4ed; /* Use your preferred shade of light blue */
}

.blue {
  color: rgba(23, 80, 157);
}

.yellow {
  color: rgba(232, 167, 19);
}
.switch {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 34px;
}

.switch label span.text {
    position: absolute;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 34px; /* Same as the height of the slider */
    z-index: 2;
}

.switch label span.text:first-child {
    left: 0;
    color: #000000;
}

.switch label span.text:last-child {
    right: 0;
    color: #000000; /* White text color */
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(242,169, 0);
    transition: 0.4s;
}
.left, .right {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
} /* This will center the content vertically */ /* This will align the content to the left */


* {
    box-sizing: border-box;
}

.transport-options {
  margin-top: 8%;
}

#taskList {
    height: 100%;
    overflow-y: auto;
}
.list-group-item {
  position: relative; 
  padding-left: 30px; /* Adjust this value as per your design preferences */
}

.ribbonr {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10px; /* Adjust this width as required */
  opacity: 1 !important;
  visibility: visible !important;
  background-color: rgba(53, 100, 177);
  z-index: 1;
}
.ribbonb {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10px; /* Adjust this width as required */
  opacity: 1 !important;
  visibility: visible !important;
  background-color: rgba(232, 167, 19);
  z-index: 1;
}

#getTaskForm {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 5%;
  margin-left: 10%;
}

#getTaskForm .mb-3 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
  text-align: right;
}

#getTaskForm .form-label {
  width: 35%; 
  margin-right: 5%; /* Add some spacing between labels and input elements */
  font-weight: bold;
}
#getTaskForm .form-select {
  width: 60%
}

#GetAFavor #getTaskForm #getTaskDescription {
  flex: 1;
  resize: vertical;
  overflow-y: auto;
} 

#getTaskForm .form-control {
  flex: 1; /* Allow the input elements to expand and take up remaining space */
}

#GetAFavor .custom-btn {
  font-size: 20px;
  padding: 3% 8%;
  background-color: #007bff; 
  border-color: #007bff;
}

.task-list li {
    line-height: 0.5;
    height: auto;  /* Or whatever height you prefer */
    padding: 5px;  /* Adjust padding as needed */
    margin-bottom: 5px;  /* Add some space between items */
    list-style-type: none;  /* Remove bullet points */
    font-size: 14px;
}
.angled-container {
    display: flex;
    height: auto;
    position: relative;
    background-color: #f1f1f1; /* Background color of angled rectangle */
    border-radius: 25px; /* Round the corners */
 /* Angle of rotation */
    margin: 20px; /* Space around container */
    overflow: hidden; /* Hide overflow content */
}

.content {
    display: flex;
    flex-direction: column; /* Add this line to layout items horizontally */
    transform: rotate(-5deg); /* Counter rotate content to keep it upright */
    padding: 20px; /* Padding inside angled rectangle */
    flex-wrap: nowrap;
}
.padded {
    padding: 20px; /* or any value you prefer */
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    z-index: 1;
}

input:checked + .slider {
    background-color: rgba(53, 100, 177);
}

input:checked + .slider:before {
    transform: translateX(94%);
}
/* Center-align the main content */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Style the buttons container */
.button-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

button {
  background-color: #012169;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
    font-weight: bold;
    font-family: 'Inter', sans-serif; /* Use Inter as the font for buttons */
}

/* Style the form and task list containers */
form {
  background-color: #f7f7f7;
  padding: 20px;

}

#personalForm {
  width: 50%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: -20px
}
.form-group {
  flex: 0 0 48%; /* Adjust the width of each input field as needed */
}
.form-group label {
  font-size: 14px; /* Adjust the font size as desired */
  margin-left: 4px;
}

#signupForm {
  width: 50%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 20px;
}

#signupForm input[type="button"] { /* for "login" or "signup" button */
  width: 100%;
  height: 40px; 
  font-size: 18px; 
}

#underPassword {
  margin-left: 260px;
  margin-top: -30px;
  font-size: 12px; 
}

#signupText {
  margin-left: 65px;
  font-size: 14px;
}

.email-verification {
  text-align: center;
  margin-left: 20px;
  margin-top: 20px;
  max-width: 550px;
  background-color: #f7f7f7;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="button"] {
  background-color: #5bc0de;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Style the task list */
ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

button[type="button"] {
  background-color: #d9534f;
}
textarea {
  width: 100%; /* or any desired width */
  height: 80px; /* or any desired height */
}
/* Hide the "Remove" button when not hovering over a task item */
li:not(:hover) button[type="button"] {
  display: none;
}

/* Style the hidden class */
.hidden {
  display: none;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
  .button-container {
      flex-direction: column;
      align-items: center;
  }
}

.profile-icon-link {
  display: inline-block;   /* Display the icon inline with other elements */
  margin-right: 20px;       /* Add some spacing to the left of the icon */
  vertical-align: middle;  /* Vertically align with adjacent text */
  color: inherit;          /* Use inherited color (can be adjusted if needed) */
  text-decoration: none;   /* Remove underline from link */
}

.profile-icon-link:hover {
  color: #007bff;          /* Change color on hover (you can choose any other color) */
}
