<!DOCTYPE html>
<html>
  <head>
    <title>DooleyAFavor Login Page</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
  </head>
  <body>
    <div class="header-container">
      <h1>
        <span class="blue">Dooley</span><span class="yellow">A</span
        ><span class="blue">Favor</span>
      </h1>
    </div>
    <h2>A verification link has been sent to your email address!</h2>

    <div class="email-verification">
      <p class="verification-message">
        Please click on the link that was just sent to your email account to
        verify your email account and proceed with the onboarding process.
      </p>
      <button class="resend-button" onclick="resendEmail()">
        Didn't receive an email?
      </button>
    </div>

    <script src="../scripts/signup.js" type="module"></script>
  </body>
</html>
