<!DOCTYPE html>

  <head>
    <title>Get A Favor - DooleyAFavor</title>
    <!-- Linking the external CSS file -->
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <!-- Bootstrap init -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- Linking the external JS file -->
    <script src="../scripts/task.js"></script>
    <script src="../scripts/fetch.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  </head>
  <body>
    
    <div class="header-container" >
      <div class="logo-container">
        <h1>
            <span class="blue">Dooley</span><span class="yellow">A</span
            ><span class="blue">Favor</span>
        </h1>
        <span class="separator">|</span>
        <span class="location-icon"><i class="fas fa-map-marker-alt"></i></span>
        <span class="user-location"></span>
      </div>
      <div class="nav-container">
        <ul class="nav">
          <li class="nav-item" id="my-nav">
            <a class="nav-link" href="profile.html">My Profile</a>
        </li>
        </ul>
        <div class="nav-container1">
          <ul class="nav nav-pills nav-fill">
              <li class="nav-item" id="my-nav">
                  <a class="nav-link active" aria-current="page" href="post_favor.html">Get A Favor</a>
              </li>
              <li class="nav-item" id="my-nav">
                  <a class="nav-link" href="tasks.html">Do A Favor</a>
              </li>
          </ul>
      </div>
    </div>    
    </div>
    <br />
    <!-- Include the content of the Get A Favor section here -->
    <!-- This should include everything from the GetAFavor div -->

    <div id="GetAFavor">
      <div class="container-fluid">   
        <div class = "row" style = "padding-left: 2.5%"> <!-- make it so there is space on both sides -->
          <div class="col-lg-6 bg-light-blue" style="border-top-left-radius: 50px; border-bottom-left-radius: 50px;">
            <div style="height: 100%">
              <form
                id="getTaskForm"
                onsubmit="event.preventDefault(); addTask('GetAFavor');"
              >
                <div class="mb-3">
                  <label for="getTaskTitle" class="form-label">Title:</label>
                  <input 
                    type="text"
                    class="form-control"
                    id="getTaskTitle"
                    placeholder="Enter a title for your favor"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="getTaskDescription" class="form-label"
                    >Description:</label
                  >
                  <textarea
                    class="form-control"
                    id="getTaskDescription"
                    placeholder="Enter your item descriptions and delivery instructions"
                    style = "max-width: 100%; max-height: 100px";
                    required
                  ></textarea>
                </div>
                <div class="mb-3">
                  <label for="getTaskRestaurant" class="form-label"
                    >Restaurant:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="getTaskRestaurant"
                    placeholder="Enter a restaurant"
                    required
                    onchange="updateMap()"
                  />
                </div>
                <div class="mb-3">
                  <label for="getUserLocation" class="form-label"
                    >Your location:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="getUserLocation"
                    placeholder="Enter your location"
                    required
                    onchange="updateMap()"
                  />
                </div>
                <div class="mb-3">
                  <label for="getTaskPrice" class="form-label">Price:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="getTaskPrice"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="getTaskPaymentMethod" class="form-label"
                    >Payment:</label
                  >
                  <select class="form-select" id="getTaskPaymentMethod" required>
                    <option value="PayPal">PayPal</option>
                    <option value="Venmo">Venmo</option>
                    <option value="Face-to-face">Face-to-face</option>
                  </select>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6 bg-light-blue d-flex flex-column justify-content-center align-items-center" 
            style = "height: 100vh; width: 100vh; border-top-right-radius: 50px; border-bottom-right-radius: 50px;">

            <div id="floating-panel" class = "transport-options">
              <b>Mode of Travel:</b>
              <select id="mode" class="form-select">
                <option value="DRIVING">Driving</option>
                <option value="WALKING">Walking</option>
                <option value="BICYCLING">Bicycling</option>
                <option value="TRANSIT">Transit</option>
              </select>
            </div>
            <div id="map"   
            style="height: 65%; width: 80%; margin-top: -5%; border-radius: 10%; border: 1px solid #b4b5b8"></div>
           
            <!-- button for posting order -->
            <button type="button" class="btn btn-primary custom-btn mt-3" onclick = "addTask('GetAFavor')">
              POST ORDER
            </button>
            <button type="button" class="btn btn-secondary mt-3">
              SCHEDULE ORDER
            </button>
          </div>
        </div> <!-- division for row -->
      </div> <!-- division for entire container -->
    </div> <!-- div for get a favor (initial division) -->
  </body>
</html>
