<!DOCTYPE html>
<html>
  <head>
    <title>DooleyAFavor</title>

    <!-- Linking the external CSS file -->
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <!-- Bootstrap init -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- Linking the external JS file -->
    <script src="../scripts/daftask_service.js"></script>
    <script src="../scripts/fetch.js"></script>
    <script src="../scripts/require.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>

  <body>
    <!-- Bootstrap init -->

    <div class="header-container">
      <div class="logo-container">
        <h1>
          <span class="blue">Dooley</span><span class="yellow">A</span
          ><span class="blue">Favor</span>
        </h1>
        <span class="separator">|</span>
        <span class="location-icon"><i class="fas fa-map-marker-alt"></i></span>
        <span class="user-location"></span>
      </div>
      <div class="nav-container">
        <ul class="nav">
          <li class="nav-item" id="my-nav">
              <a class="nav-link" href="accepted.html">My tasks</a>
          </li>
        </a>
      </ul>
        <ul class="nav">
            <!-- <li class="nav-item" id="my-nav">
                <a class="nav-link" href="#">Order History</a>
            </li> -->
          <a href="profile.html" class="profile-icon-link">
            <i class="fas fa-user-circle fa-2x"></i>
          </a>
        </ul>
        <div class="nav-container1">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item" id="my-nav">
              <a class="nav-link" aria-current="page" href="post_favor.html"
                >Get A Favor Instead?</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Content for the "Do A Favor" side -->
    <div id="DoAFavor">
      <div class="angled-container">
        <div class="left padded bg-light-blue" style="flex: 1">
          <div class="nav-container2" style="outline: none !important;">
            <ul class="nav nav-pills nav-fill" style="padding-bottom: 20px; outline: none !important">
              <li class="nav-item" id="my-nav" style="font-weight: bold;">
                <a class="nav-link" aria-current="page" href="tasksfood.html">Food Requests</a>
              </li>
              <li class="nav-item" id="my-nav">
                <a class="nav-link active" href="#">Service Requests</a>
              </li>
            </ul>
        </div>
          <div id="taskList" style="height: 100%; overflow-y: auto">
            <ul class="list-group" id="taskUl"></ul>
            <div id="paginationControls">
              <button type="sumbit" class="btn btn-secondary" id="prevPage">
                Previous Page
              </button>
              <button id="nextPage" type="submit" class="btn btn-primary">
                Next Page
              </button>
            </div>
          </div>
        </div>

        <div class="right padded bg-light-blue" style="flex: 1">
          <div id="floating-panel" class = "transport-options">
            <b>Mode of Travel:</b>
            <select id="mode2" class="form-select">
              <option value="DRIVING">Driving</option>
              <option value="WALKING">Walking</option>
              <option value="BICYCLING">Bicycling</option>
              <option value="TRANSIT">Transit</option>
            </select>
          </div>
          <div id="map" style="height: 100%; width: 95%; border-radius: 50px; border: 1px solid #b4b5b8"></div>

        
        <!-- Modal -->
        <div id="taskModal" class="modal" style="display:none;">
          <div class="modal-content">
            <span class="close">&times;</span>
            <h4 id="modalTaskName"></h4>
            <p id="modalTaskDescription"></p>
            <div id="floating-panel">
              <b>Mode of Travel:</b>
              <select id="mode" class="form-select">
                <option value="DRIVING">Driving</option>
                <option value="WALKING">Walking</option>
                <option value="BICYCLING">Bicycling</option>
                <option value="TRANSIT">Transit</option>
              </select>
            </div>
            <div id="modelMap" style="height: 300px; width: 100%"></div> <!-- New map container -->
            <p id="modalTaskPrice"></p>
            <button id="acceptModal" class="btn btn-primary" href = "accepted.html">Accept Task</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
